@model Msg.Models.PasswardResetModel

@{
    ViewBag.Title = "Сброс пароля";
}

    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="FormElement">
                <h2>Ведите логин</h2>
                @Html.TextBoxFor(m => m.Login, new { @class = "formInput" })
                @Html.ValidationMessageFor(model => model.Login)
            </div>

            <input type="submit" value="Отправить" class="class=" formButton"" />
        }
    </section>

