<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/aa9ffe4c-b742-4f8f-bd2a-d063fd9a6e92/resourcegroups/CourseMsgResourceGroup/providers/Microsoft.Web/sites/CourseMsg</ResourceId>
    <ResourceGroup>CourseMsgResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://coursemsg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>coursemsg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CourseMsg</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CourseMsg</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:coursemsgdbserver.database.windows.net,1433;Initial Catalog=CourseMsg_db;User ID=Egor@coursemsgdbserver;Password=Krotov_1998" Name="Data Source=tcp:coursemsgdbserver.database.windows.net,1433;Initial Catalog=CourseMsg_db;User Id=Egor@coursemsgdbserver;Password=Krotov_1998" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Msg.Models.AppMsgDbContext, Msg" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:coursemsgdbserver.database.windows.net,1433;Initial Catalog=CourseMsg_db;User Id=Egor@coursemsgdbserver;Password=Krotov_1998</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>