<script src="~/Scripts/PeopleSearch.js"></script>
<input type="text" class="search" onkeyup="Search(event.keyCode)" on />

<p class="status"></p>

<section class="friends"></section>

<section class="users"></section>