@{ 
    HttpCookie cookies = Request.Cookies["User"];
}

<script src="~/Scripts/PeopleSearch.js"></script>

<input type="text" class="search" onkeyup="Search(event.keyCode,'@cookies["id"]')"  />

<p class="status"></p>

<section class="newFriends"></section>

<section class="friends"></section>

<section class="users"></section>