@{
    ViewBag.Title = "Главная";
    Styles.Render("~/Content/Stile/MainPageStyle.css");
}

   <link rel="stylesheet" href="~/Content/Stile/MainPageStyle.css"/>
   <link rel="stylesheet" href="~/Content/Stile/SidebarStyle.css" />

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>

<script src="signalr/hubs"></script>

<script src="~/Scripts/MainHub.js"></script>

<section class="mainPage">
    <section class="sidebar"> @Html.Partial("Sidebar")</section>
   

    <section class="dialogs">  @Html.Partial("Dialog")</section>
  
</section>