
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.hedder {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #c2c3c3;
    justify-content: center;
    min-width:310px;
}

    .hedder::after {
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #48bfc4;
        content: '';
        top: 65px;
    }

.hedder__content {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .hedder__content::after {
        position: absolute;
        width: 10%;
        height: 100%;
        content: '';
        right:0;
        background-color: #3e3e3e;
    }

.hedder__content__logo {
    width: 60px;
    height: 60px;
}

.navigation {
    display: flex;
    height: 100%;
}

.navigation_link {
    text-decoration: none;
    color: #e5f2f3;
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #828282;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 10px;
}

    .navigation_link:hover {
        background-color: #4bbec5;
        color: #404040;
        animation: color_change;
        animation-duration: 0.5s;
    }

@keyframes color_change {
    0% {
        color: #e5f2f3;
        background-color: #828282;
    }

    100% {
        background-color: #4bbec5;
        color: #404040;
    }
}



.hedder__content__menu__icon__wrapper {
  display:none;
}


.hedder__content__menu {
    position: fixed;
    top: -100%;
    width: 100%;
    background-color: rgba(24%, 24%, 24%,0.6);
    display: flex;
    flex-direction: column;
    transition: top 0.3s ease;
    left: 0;
}

.hedder__content__authUser__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #48bfc4;
    cursor:pointer;
    width:300px;
    height:100%;
}

.hedder__content__authUser_photo {
    width: 60px;
    height: 60px;
}

.hedder__content__authUser_fio {
    font-family: sans-serif;
    font-size: 19px;
    color: #e5f2f3;
    margin-right: 15px;
}

.hedder__content__authUser__menu {
    position: absolute;
    top: -1000%;
    background-color: #c2c3c3;
    z-index: 4;
    transition: top 0.3s ease;
    width: 300px;
    right: 12.5%;
    padding: 0;
    margin: 0;
}


.hedder__content__authUser__menu__active {
   
    top: 70px;
    display: block;
}

.hedder__content__authUser__menu__wrapper {
    border-top: 1px solid #c2c3c3;
    list-style-type: none;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #3e3e3e;
}

.hedder__content__authUser__menu__wrapper img {
    width: 25px;
    height: 25px;
    margin-right:10px;
}



    .hedder__content__authUser__menu__wrapper a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-family: sans-serif;
        color: #faf4fb;
    }

    .hedder__content__authUser__menu__wrapper:last-child a p,img{
        margin-right:21px;
    }


    .hedder__content__authUser__menu__wrapper:hover {
        background-color: #48bfc4;
        color: #3e3e3e;
        transition:all 0.5s ease;
    }

    .hedder__content__authUser__menu__wrapper:first-child:hover {
        border-top: 1px solid #3e3e3e;
    }

        @media (max-width:762px) {
            .hedder {
            height: 50px;
        }
    .hedder::after {
        top: 50px;
    }
    .hedder__content__logo {
        width:45px;
        height:45px;
    }

    .navigation_link{
        display:none;
    }

    .hedder__content__menu__icon__wrapper{
        display:block;
        height:25px;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-right:10px
    }

    .hedder__content__menu__icon {
        height: 5px;
        width: 30px;
        background-color: #828282;
        position:relative;
    }
        .hedder__content__menu__icon:before {
            position: absolute;
            height: 5px;
            width: 30px;
            background-color: #828282;
            content: '';
            top: 10px;
            transition: transform 0.2s ease-in,top 0.2s linear 0.2s;
        }
        .hedder__content__menu__icon:after {
            position: absolute;
            height: 5px;
            width: 30px;
            background-color: #828282;
            content: '';
            top: -10px;
            transition: transform 0.2s ease-in,top 0.2s linear 0.2s;
        }

         hedder__content__menu__icon,.hedder__content__menu__icon__active{
            background-color:transparent;
         }
        hedder__content__menu__icon, .hedder__content__menu__icon__active::before {
            transform: rotate(45deg);
            top: 0;
            transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        }
        hedder__content__menu__icon, .hedder__content__menu__icon__active::after {
            transform: rotate(-45deg);
            top: 0;
            transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        }

    .hedder__content__menu__active {
        top: 55px;
        z-index: 3;
    }

    .hedder__content__menu__link {
        display:flex;
        justify-content:center;
        font-family: sans-serif;
        font-size: 18px;
        color: #f2ecdc;
        height:30px;
        margin-top:10px;
        border-bottom:1px solid gray;
    }

        .hedder__content__authUser__wrapper{
            display:none;
        }

            .hedder__content__authUser__menu {
                width: 100%;
                right: 0;
            }

            .hedder__content__authUser__menu__active {
                top: 55px;
                width: 100%;
                transition: top 0.3s ease;
            }
}