.field-validation-error {
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-valid {
    display: none;

}

.validation-summary-errors * {
    list-style-type: none;
   
}